@model Knockout_JS_CRUD.Models.Cat

@{
    ViewBag.Title = "Edit";
}

<fieldset>
    <legend>Edit Cat</legend>

    <div class="editor-label">
        Cat Name
    </div>
    <div class="editor-field">
        <input data-bind="value: name" />
    </div>

    <div class="editor-label">
        Cat Breed
    </div>
    <div class="editor-field">
        <input data-bind="value: breed" />
    </div>

    <div class="editor-label">
        Sex
    </div>
    <div class="editor-field">
        <input data-bind="value: sex" />
    </div>

    <div class="editor-label">
        Age
    </div>
    <div class="editor-field">
        <input data-bind="value: age" />
    </div>
    <p>
        <button type="button" data-bind="click: SaveCat" class="btn btn-success">Save Cat To Database</button>
    </p>
</fieldset>
<div>
    <a href="@Url.Action("Index", "Cats")" class="btn btn-primary" role="button">Back to List</a>
</div>

@section Scripts {
<script>
    var urlPath = window.location.pathname;
    $(function () {
        ko.applyBindings(EditVM);
    });

    var initialData = '@Html.Raw(ViewBag.InitialData)'; //get the raw json
    var parsedJSON = $.parseJSON(initialData); //parse the json client side
    var EditVM = {
        id: ko.observable(parsedJSON.id),
        name: ko.observable(parsedJSON.name),
        breed: ko.observable(parsedJSON.breed),
        sex: ko.observable(parsedJSON.sex),
        age: ko.observable(parsedJSON.age),
        SaveCat: function () {
            $.ajax({
                url: '/Cats/Edit',
                type: 'post',
                dataType: 'json',
                data: ko.toJSON(this),
                contentType: 'application/json',
                success: function (result) {
                },
                error: function (err) {
                    if (err.responseText == "Creation Failed")
                    { window.location.href = '/Cats/Index/'; }
                    else {
                        alert("Status:" + err.responseText);
                        window.location.href = '/Cats/Index/';;
                    }
                },
                complete: function () {
                    window.location.href = '/Cats/Index/';
                }
            });
        }
    };
    </script>
}
